<p>Hey {{firstname}},</p>
<p>Your account has been successfully created!</p>
<p>If you would like to change your email preferences, please unselect email checkbox when buying the ticket.</p>
<p>If you experience any issues while attempting to confirm your account, please visit our support center at <a href='https://nh5050.com/'>https://nh5050.com/</a></p>
<p>Warm regards,<br>
New Hampshire Marine Corps</p>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>

